<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Todo App</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
        <script src="https://unpkg.com/vue@2.6"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <section class="section">
            <div id="app" class="container is-tablet">
            <h1 class="title">{{ message }}</h1>
            <div class="columns is-mobile" v-for="task in tasks">
                <div class=column>
                    <span v-if="task.attributes.done == 0">{{ task.attributes.title}}</span>
                    <span v-else class="done">{{ task.attributes.title}}</span>
                </div>
                <div class="column is-narrow">
                    <button v-if="task.attributes.done == 0" class="button is-success" v-on:click="done(task.id)">Done</button>
                </div>
                <div class="column is-narrow">
                    <button class="button is-danger" v-on:click="del(task.id)">Delete</button>
                </div>
            </div>
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <input id="taskField" class="input" v-model="inputField" type="text" placeholder="Enter a task">
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <button id="button" class="button is-primary" v-on:click="addTask">Add Task</button>
                    </div>
                </div>
            </div>
        </section>
        <style>
            .done {
            text-decoration: line-through;
            opacity: 0.4;
            }
        </style>
        <script>
            let user = localStorage.getItem("todo-user");
            if (!user) {
              user = Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15);
              localStorage.setItem("todo-user", user);
            }

            const app = new Vue({
              el: '#app',
              data: {
                message: 'Tasks Listed:',
                tasks: [],
                  inputField: ''
              },
                mounted() {
                      axios.get("./tasks/" + user).then(response => {
                        this.tasks = response.data.data
                      })
                },
                methods: {
                    done: function (id) {
                        axios.put("./done/" + id).then(response => {
                            return axios.get("./tasks/" + user);
                        }).then(response => {
                            this.tasks = response.data.data;
                        })
                    },
                    addTask: function() {
                        if (this.inputField.trim().length > 0) {
                            let task = this.inputField;
                            axios.post("./add", {"title": task, "user": user}).then(response => {
                                return axios.get("./tasks/" + user)
                            }).then(response => {
                                this.tasks = response.data.data;
                            });
                        }
                        this.inputField = '';
                    },
                    del: function(id) {
                        axios.delete("./delete/" + id).then(response => {
                            return axios.get("./tasks/" + user);
                        }).then(response => {
                            this.tasks = response.data.data;
                        })
                    }
                }
            });
        </script>
    </body>
</html>

