<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Todo App</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <div id="app">
    {{ message }}

    <ul>
      <li v-for="task in tasks">
          <span v-if="task.attributes.done == 0">{{ task.attributes.title}}<button v-on:click="done(task.id)">Done</button></span>
          <span v-else class="done">{{ task.attributes.title}}</span>
      </li>
    </ul>
    <input id="taskField" v-model="inputField" type="text">
    <button id="button" v-on:click="addTask">Add Task</button>
  </div>

<style>
.done {
    text-decoration: line-through;
    opacity: 0.4;
}
</style>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Tasks Listed:',
        tasks: [],
          inputField: 'Enter a task here'
      },
        mounted() {
              axios.get("./tasks").then(response => {
                this.tasks = response.data.data
              })
        },
        methods: {
            done: function (id) {
                axios.put("./done/" + id).then(response => {
                    return axios.get("./tasks");
                }).then(response => {
                    this.tasks = response.data.data;
                })
            },
            addTask: function() {
                if (this.inputField.length > 0) {
                    let task = this.inputField;
                    axios.post("./add", {"title": task}).then(response => {
                        console.log(response);
                        return axios.get("./tasks")
                    }).then(response => {
                        console.log(response);
                        this.tasks = response.data.data;
                    });
                    this.inputField = '';
                }
            }
        }
    });
  </script>
</body>
</html>
